@media (max-width: 1600px)
    .wrapper
        max-width: 1600px

    .advantages
        padding: 85px 0 50px
        max-height: 517px
        &__container
            height: 382px

@media (max-width: 1280px)
    .wrapper
        max-width: 1280px

    .advantages
        padding: 76px 0 38px
        max-height: 412px
        &__container
            height: 298px
            max-width: 1120px
        &__title
            font-size: 33px
        &__content
            width: 880px
            height: 144px
        &__card
            padding: 15px 20px
            max-width: 280px
            &-title
                font-size: 14px
            &-descr
                font-size: 13px
                line-height: 19px
            &-link
                font-size: 12px

    .header
        max-width: 1120px
        height: 105px
        &__nav
            max-width: 476px
            &-link
                font-size: 16px
        &__search
            width: 345px
            height: 38px
            &-submit
                width: 43px
                background-size: 20px 20px
        &__login
            width: 74px
            font-size: 16px
            &::before
                top: calc(50% - 9px)
                width: 18px
                height: 18px
                background-size: 18px 18px

    .logo
        width: 85px
        height: 40px

    .footer
        &__nav
            &-list
                max-width: 483px
            &-link
                font-size: 16px
        &__social
            max-width: 114px
            &-item
                width: 22px
                height: 22px

    .slick
        &-slide
            width: 490px !important
            max-height: 431px

        &-track
            gap: 11px

        &-list
            max-width: 1000px

        &-arrow
            width: 40px
            height: 40px
            top: calc(50% - 60px)  

        &-dots > li
            width: 10px
            height: 10px       

    .projects
        &__title
            font-size: 28px

        &__slider
            max-width: 1120px

            &-title
                font-size: 22px

            &-desc
                font-size: 14px
                line-height: 21px

            &-link
                font-size: 14px  

            &-text
                padding: 15px 19px

@media (max-width: 960px)
    .login
        padding: 26px 32px
        width: 288px
        height: 309px

        &__account
            padding: 7px 0 0px
            &-input
                width: 224px
                height: 33px
            &-title
                font-size: 16px    

        &__action
            &-submit
                width: 224px
                height: 36px
                font-size: 14px
            &-sign
                font-size: 14px

    .header
        max-width: 920px
        height: 68px
        &__nav
            max-width: 375px
            &-link
                font-size: 12px
        &__search
            width: 295px
            height: 28px
            &-submit
                width: 32px
                background-size: 14px 14px
        &__login
            width: 60px
            font-size: 12px
            &::before
                top: calc(50% - 7px)
                width: 14px
                height: 14px
                background-size: 14px 14px        

    .logo
        width: 60px
        height: 28px

    .advantages
        padding: 64px 0 20px
        max-height: 309px
        &__container
            height: 225px
            max-width: 920px
        &__title
            font-size: 30px
        &__content
            width: 664px
            height: 104px
        &__card
            padding: 11px 14px
            max-width: 208px
            &-title
                font-size: 12px
            &-descr
                margin: 5px 0
                font-size: 10px
                line-height: 14px
            &-link
                font-size: 10px

    .footer
        &__nav
            &-list
                max-width: 362px
            &-link
                font-size: 12px
        &__social
            max-width: 103px
            &-item
                width: 20px
                height: 20px    

    .projects
        padding: 71px 0 56px
        max-height: 475px
        &__title
            display: none
        &__slider    

            &-title
                font-size: 18px

            &-desc
                font-size: 12px
                line-height: 18px

            &-link
                font-size: 11px  

            &-text
                padding: 8px 16px    

    .slick-dots
        margin: 20px 0 0 0  
        & > li
            width: 8px
            height: 8px                               

