@media (max-width: 550px)
    .logo
        width: 133px
        height: 52px
        margin: 0 0 0 calc(50% - 76px)

    .header
        &__action
            max-width: 95px
        &__search-mobile
            width: 38px
            height: 38px
        &__login-mobile
            width: 41px
            height: 41px

    .advantages
        margin: 0 0 900px 0
        max-height: 350px
        &__content
            max-height: 900px
            min-height: 900px
        &__title
            font-size: 35px
        &__card
            padding: 35px 30px
            height: 280px
            &-title
                font-size: 21px
            &-link
                font-size: 22px
            &-descr
                margin: 13px 0
                font-size: 20px
                line-height: 25px

    .footer
        padding: 0 20px 25px
        &__nav
            height: 80px
            &-item
                margin: 0px 38px 0 0
                &:nth-last-child(3)
                    margin: 0 38px 0 0
            &-link
                font-size: 18px
        &__social
            margin: 20px auto 0
            max-width: 175px
            &-item
                width: 35px
                height: 35px

    .projects
        padding: 40px 0 40px
        &__slider
            padding: 0 25px
            &-title
                font-size: 27px
            &-desc
                font-size: 18px
        &__title
            font-size: 35px

    .slick
        &-dots
            margin: 30px 0 0
            & > li
                width: 15px
                height: 15px
        &-arrow
            width: 40px
            height: 40px
            top: calc(50% - 20px - 52px + 11px)
        &-prev
            left: calc(40px + 29px)
        &-next
            right: calc(40px + 29px)

    .search__mobile-actions
        width: 80%
